nav {
  @apply bg-[var(--navbar-color)] backdrop-blur-md;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.3);
}

.icns {
  filter: var(--idk-y); /*I found out why*/
  width: clamp(1.5rem, 3vw, 9rem);
}

nav .icns {
  transform: translateY(30%);
}
nav .icns:hover {
  transform: scale(1.25) translateY(10%);
}

nav .logo:hover{
  transform: scale(1.25) translateY(-5%);
}

nav span {
  font-size: clamp(12px, 1.1vw, 1.25rem);
  @apply font-bold inline-block;
  transform: translateY(40%);
}
nav span:hover{
  transform: scale(1.25) translateY(20%);
}

nav .lang-txt {
  font-size: clamp(1.2em, 3vw, 7em);
  transform: translateY(-30%);
}
nav .lang-txt:hover {
  transform: scale(1.25) translateY(-35%);
}

nav span, nav .icns, nav .lang-btn, nav h3, nav .logo {
  transition: all 0.3s ease;
}